.header {
    background-image: url("images/banner/banner2.png");
    width: 1600px;
    height: 809px;
    text-align: right;

}

/* .banner {
    text-align: right;
    margin-right: 230px;

} */

.banner-title {
    font-family: sans-serif;
    width: 525px;
    height: 228px;
    font-weight: 700;
    font-size: 65px;
    color: #151414;
    position: absolute;
    margin: 216px 230px 365px 845px;
}

.banner-main-description {
    margin-top: 24px;
    position: absolute;
}

.banner-description {
    width: 494px;
    height: 78px;
    font-weight: 400;
    font-size: 16px;
    margin: 468px 230px 263px 876px;
    position: absolute;
}

.main-btn {
    position: absolute;
    margin-top: 32px;
}

.btn-primary {
    color: white;
    background-color: aqua;
    border: none;
    border-radius: 5px;
    padding: 21px 25px;
    margin: 578px 230px 167px 1210px;
    width: 160px;
    height: 64px;

}

/* main-styles */
main {
    /* max-width: 1072px; */
    /* margin: 0 auto; */
}

.failures-content {
    display: flex;
    max-width: 1072px;
    /* position: absolute; */
    margin: 130px 206px 322px;
}

.contents {

    /* 
     */
    width: 416px;
    height: 400px;
    position: relative;
    margin-left: 87px;
    margin-top: 369px;
    margin-bottom: 214px;
    margin-right: 322px;

}

.content-title {
    width: 288px;
    height: 94px;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 24px;
    /* 
    margin-left:87px;
    margin-top: 369px;
    margin-bottom: 450px; */
}

.content-description {
    width: 416px;
    height: 104px;
    color: #444343;
    margin-bottom: 16px;

}

.img {
    width: 569px;
    height: 723.3px;
    margin-left: 216px;
    margin-top: 130px;
    margin-bottom: 130px;

}

ul {
    list-style: none;
}

ul li:before {
    content: "✓";
}

.list {

    width: 349px;
    height: 162px;

}

.list-item {
    margin-bottom: 8px;

}